  {{>head}}

    {{>navbar}}
    
    <div class="row">

        <div class="col-8">
            <h1>About Page</h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe, tempora aut non fugit, labore veritatis nesciunt quod aliquam quo magnam voluptate cumque, vitae ullam quibusdam soluta maiores quis eum itaque?
            </p>
        </div>

        <div class="col-4">
            <img src="assets/img/ironman.jpg" class="img-thumbnail">
        </div>

    </div>

    {{>footer}}